body {
  padding-top: 80px; }

.price {
  color: #b12704;
  font-weight: bold; }

.list_articles_image {
  width: 150px; }

.table-list-basket tr:last-child {
  border-bottom: 1px solid #444; }

.table-list-basket tr:last-child td,
.table-list-basket tr:last-child td:hover {
  background-color: #eee !important; }

.list_basket_title {
  font-weight: bold; }

.list_basket_quantity {
  text-align: center;
  width: 70px; }

.list_basket_price {
  color: #b12704;
  text-align: right;
  width: 90px; }

.list_basket_total {
  text-align: right;
  width: 90px; }

.list_basket_total_order_sum_label {
  font-size: 110%;
  font-weight: bold;
  text-align: right; }

.list_basket_total_order_sum {
  color: #b12704;
  font-size: 110%;
  font-weight: bold;
  text-align: right; }
